.top-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-item{
    flex-grow: 1;
    height: 50px;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    transition: flex-grow 0.4s cubic-bezier(0.17, 0.67, 0.27,1.42);
}

.menu-item:not(:nth-child(1)){
    margin-left: 10px;
}
.active-anim{
    flex-grow:3;
}
.menu-item img {
    width: 30px;
}
.top-nav a:nth-child(1){
    background-color: #9cd3ec;
}
.top-nav a:nth-child(2){
    background-color: #ecc79c;
}
.top-nav a:nth-child(3){
    background-color: #ec9c9c;
}